@import url('./global');

*:not(ion-input *) {
  border-radius: 4px !important;
}

ion-modal {
  --width: fit-content;
  --height: fit-content;
  --border-radius: 4px;
  --box-shadow: 0 28px 48px #00000066;
}